<div class="kolomI">
	<p>Zoek een trip</p><br>

	<div class="fillIn">
	<input type="text" name="autoFillTitle" id="autoFillTitle" placeholder="typ een titel" >
	</div>

	<div id="title">
	</div><br>
	<img src="images/logo.png" width="146" height="139"  />

</div>

<div class="kolomII">

	<p>Zoek jou trip en krijg</p><p> een klein overzicht terug</p>
	<img src="images/logo.png" width="146" height="139"  />
</div>