<div class="kolomI">
	<p>Beheer je Trip</p><br>

	<div class="fillIn">
		<input type="text" name="autoFillTitle" id="autoFillTitle" placeholder="Zoek op naam van de trip" >
	</div>

	<div id="title">
	</div><br>

	<p>kies je vervoersmiddel</p><br>
	
	<div id="vervoer">
	<div class="vervoer"><img src="images/vv_auto.png" id="vervoerAuto" width="47px" height="60px"  /></div>
	<div class="vervoer"><img src="images/vv_fiets.png" id="vervoerFiets" width="47px" height="60px"  /></div>
	<div class="vervoer"><img src="images/vv_vlieg.png" id="vervoerVlieg" width="47px" height="60px"  /></div>
	<div class="vervoer"><img src="images/vv_trein.png" id="vervoerTreintje" width="47px" height="60px"  /></div><br>
	</div>


	<label for="slaapplaats"><p>kies je slaapplaats</p></label><br><br>
	<div id="slaap">
	<div class="slaap"><img src="images/slaap_huis.png" id="slaapHuis" width="47px" height="60px"  /></div>
	<div class="slaap"><img src="images/slaap_caravan.png" id="slaapCaravan" width="47px" height="60px"  /></div>
	<div class="slaap"><img src="images/slaap_hotel.png" id="slaapHotel" width="47px" height="60px"  /></div>
	<div class="slaap"><img src="images/slaap_tent.png" id="slaapTent" width="47px" height="60px"  /></div><br><br>
	</div>

	<label for="eet"><p>Aantal Personen</p></label><br>
			<div class="AddPersons">
				<input type="number" name="AddPerson" id="AddPerson" value="2">
	</div>

</div>

<div class="kolomII">

		<div class="kolomDeel">
			<label for="eet"><p>Eetgelegenheid</p></label><br>
			<div class="eetgelegenheden">
			</div>
			<div class="AddEetgelegenheden">
				<input type="text" name="addEetgelegenheid" id="addEetgelegenheid" >
				<button id="addEet" class="button" disabled>nieuwe Eetgelegenheid</button>
			</div>
		</div>

	<div class="kolomDeel">
		<label for="eet"><p>Activiteit</p></label><br>
		<div class="bezigheden">
		</div>
		<div class="Addbezighouden">
				<input type="text" name="Addbezighoud" id="Addbezighoud" >
				<button id="addBh" class="button" disabled>nieuwe bezighoudingen</button>
		</div>
	</div>

</div>

<div class="kolomIII">

	<div class="kolomDeel">
		<div class="kalender">
			<label for="meeting"><p>Vertrek Datum</p></label><br><input id="meetingStart" type="date" value="2013-05-26"/>
		</div>
	</div>


	<div class="kolomDeel">
		<div class="kalender">
		<label for="meeting"><p>Eind Datum</p></label><br><input id="meetingEnd" type="date" value="2013-05-26"/>
		</div>
	</div>

	<label for="eet"><p>Titel voor je reis</p></label><br>
		<div class="titel">
			<div class="AddTitle">
				<input type="text" name="addTitle" id="addTitle" placeholder="typ een titel voor je Trip">
			</div><br>
	</div>

	<label for="eet"><p>Typ hier je code van de trip</p></label><br>
		<div class="titel">
			<div class="AddTitle">
				<input type="text" name="addCode" id="addCode" placeholder="typ hier de code voor je Trip">
			</div>
	</div><br>
	 	<button id="updateTrip" class="button">Update je Trip</button>


</div>

		
